@model List<TrashcollectorProject.Models.Customer>
@{
    ViewBag.Title = "Pickups";
}

<h2>Today's Pickups</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].PickUpCharge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].PaymentComplete)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StreetAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PickUpCharge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentComplete)
        </td>
    </tr>
            }

    </table>

